{% load i18n %}
<div>
    <ul>
        <li>
            <button class="btn btn-link p-0 text-start" type="button" data-filter-key="done" data-filter-value="all">{% trans "todos_filter_all_link" %}</button>
        </li>
        <li>
            <button class="btn btn-link p-0 text-start" type="button" data-filter-key="done" data-filter-value="true">{% trans "todos_filter_done_true gsjfgsfg fs dfsdfjsgfgsfgs s sfsf" %}</button>
        </li>
        <li>
            <button class="btn btn-link p-0 text-start" type="button" data-filter-key="done" data-filter-value="false">{% trans "todos_filter_done_false" %}</button>
        </li>
</div>