{% extends "base_main.html" %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}


{% block main %}
    <div class="card border-danger">
        <div class="card-header text-bg-danger border-danger">
            <h3>
                {{ tag.name }}
            </h3>
        </div>
        <div class="card-body">
            {% trans "todos_tag_really_delete" %}
        </div>
        <div class="card-footer bg-white border-danger">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-start align-content-center">
                    <button class="btn btn-danger b-block m-1"><i class="demo-icon icon-trash"></i></button>
                    <button type="button" class="btn btn-primary back-link m-1"><i class="demo-icon icon-back"></i></button>
                </div>
            </form>
        </div>
    </div>

{%  endblock %}