{% load i18n %}
<div class="card">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="card-header">
            <h3>{{ title }}</h3>
        </div>
        <div class="card-body">
            <div class="mb-3">
                {{ form.title.label_tag }}
                {{ form.title }}
                {% if form.title.errors %}
                    <div class="alert alert-danger mt-1">
                        {{ form.title.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.content.label_tag }}
                {{ form.content }}
                {% if form.content.errors %}
                    <div class="alert alert-danger mt-1">
                        {{ form.title.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <div class="form-check form-switch">

                    {{ form.done }} 
                    {{ form.done.label_tag|cut:":" }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">{{ send_btn_title }}</button>
            <button class="btn btn-primary back-link" type="button">{% trans "back_link" %}</button>
        </div>
    </form>
</div>