{% extends "base_main.html" %}
{% load i18n %}

{% block title %}
    {{ todo.title }}
{% endblock %}


{% block main %}
    <div class="card">
        <div class="card-header">
            <h3>{{ todo.title }}
                <span class="badge rounded-pill {% if todo.done %}text-bg-success{% else %}text-bg-warning{% endif %}">
                    <i class="demo-icon icon-check"></i>
                </span>
            </h3>
            <div>
                <strong>{% trans "Created at" %}:</strong> {{ todo.created_at|date:"d.m.Y, H:i" }}
            </div>
            <div>
                <strong>{% trans "Updated at" %}:</strong> {{ todo.updated_at|date:"d.m.Y, H:i" }}
            </div>
            <div>
                <strong>{% trans "Tags" %}:</strong>
                {{ todo.get_tags_str}}
            </div>
        </div>
        <div class="card-body">
            <p>
                {% autoescape off %}
                    {{ todo.content }}
                {% endautoescape %}
            </p>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-start align-content-center">
                <a class="d-block btn btn-primary d-block m-1" href="{% url "todos-index" %}"><i class="demo-icon icon-home"></i></a>
                <a class="btn btn-primary d-block m-1" href="{% url "todos-update" id=todo.id %}"><i class="demo-icon icon-pencil"></i></a>
                <a class="btn btn-danger d-block m-1" href="{% url "todos-delete" id=todo.id %}"><i class="demo-icon icon-trash"></i></a>
            </div>
        </div>
    </div>

{%  endblock %}