{% extends "base_sidebar.html" %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}


{% block header %}
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-12">
                <a class="btn btn-outline-primary btn-lg mb-3" href="{% url "todos-new" %}">{% trans "todos_new_btn" %}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div>
        <h3>All</h3>
        {% include "todos/partials/_table_list.html" with todos=todos %}
    </div>
    <hr>
    <div>
        <h3>Done</h3>
        {% include "todos/partials/_table_list.html" with todos=done_todos %}
    </div>
    <hr>
    <div>
        <h3>Not Done</h3>
        {% include "todos/partials/_table_list.html" with todos=not_done_todos %}
    </div>
    <hr>
    <ul>
        {% for todo in todos %}
            <li>
                <a href="{% url "todos-update" id=todo.id %}">{{ todo.title }}</a>
            </li>
        {% endfor %}
    </ul>
{%  endblock %}

{% block side %}
    <h3>Sidebar</h3>
{% endblock %}