{% extends "base_sidebar.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}


{% block header %}
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-12">
                <a class="btn btn-outline-primary btn-lg mb-3" href="{% url "todos-new" %}">{% trans "todos_new_btn" %}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div>
        <h3>All</h3>
        {% if todos %}
            {% include "todos/todo/partials/_table_list.html" with todos=todos %}
        {% else %}
            <p>{% trans "todos_none_todos" %}</p>
        {% endif %}
    </div>
    <hr>
    <div>
        <h3>Done</h3>
        {% if done_todos %}
            {% include "todos/todo/partials/_table_list.html" with todos=done_todos %}
        {% else %}
            <p>{% trans "todos_none_todos" %}</p>
        {% endif %}
    </div>
    <hr>
    <div>
        <h3>Not Done</h3>
        {% if not_done_todos %}
            {% include "todos/todo/partials/_table_list.html" with todos=not_done_todos %}
        {% else %}
            <p>{% trans "todos_none_todos" %}</p>
        {% endif %}
    </div>
    <hr>
    <ul>
        {% for todo in todos %}
            <li>
                <a href="{% url "todos-update" id=todo.id %}">{{ todo.title }}</a>
            </li>
        {% endfor %}
    </ul>
{%  endblock %}

{% block side %}
    <h3>Sidebar</h3>
    <div class="card mb-3">
        <div class="card-header">
            <h5>
                {% trans "todos_tag_filter_title" %}
            </h5>
        </div>
        <div class="card-body">
            {% include "todos/todo/partials/_tag_filter.html" %}
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h5>
                {% trans "todos_done_filter_title" %}
            </h5>
        </div>
        <div class="card-body">
            {% include "todos/todo/partials/_done_filter.html" %}
        </div>
    </div>

    <div class="mb-3">
        <a class="btn btn-primary w-100" href="{% url "todos-index" %}">{% trans "todos_filter_reset_btn" %}</a>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static "todos/js/filter.js" %}"></script>
{% endblock %}